In [72]:
import numpy as np
import pandas as pd
import math
from itertools import combinations

In [73]:
student_counts = pd.read_csv("data/student_counts.csv")
pair_counts = pd.read_csv("data/module_pairs.csv")
assignments = pd.read_csv("data/Assignments_with_clash.csv")

In [74]:
# Stress Score calculation = [weight['level']*level] + [weight['major']*major] + [weight['i_or_g']*i_or_g] + [weight['assignment_type']*assignment_type] + [weight['gap']*gap] + weightage/100
# then standardize it to range 0 to 100

In [75]:
# how important/stressful each of these factors are to students
# sum to 10?
# level: 1
# major: 1
# i_or_g: 2
# assignment_type: 3
# gap: 3

In [101]:
stress = [level_weights["level"][level]*factor_weights["level"]] + stress = [level_weights["i_or_g"][i_or_g]*factor_weights["i_or_g"]] + stress = [level_weights["assignment_type"][assignment_type]*factor_weights["assignment_type"]] + stress = [level_weights["gap"][gap]*factor_weights["gap"]]

SyntaxError: cannot assign to operator (<ipython-input-101-9fad56a85e33>, line 1)

In [77]:
factor_weights = {
    "level": 1,
    "i_or_g": 2,
    "assignment_type": 3,
    "gap": 3
}

In [78]:
# how stressful each level within the factors are
level_weights = {
    "level": {
        "level_1k": 0.1,
        "level_2k": 0.2,
        "level_3k": 0.3,
        "level_4k": 0.4
    },
    "i_or_g": {
        "I": 0.3,
        "G": 0.4,
        "I&G": 0.3
    },
    "assignment_type": {
        "Presentation": 0.1,
        "Project": 0.25,
        "Participation": 0.05,
        "Quiz": 0.1,
        "Assignment": 0.15,
        "Exam": 0.35
    },
    "gap": {
        "One Week": 0.4,
        "Two Weeks": 0.3,
        "More Than Two Weeks": 0.15,
        "Others": 0.15 # assume weight to be 0.2 if gap is not known eg. start date is NA
    }
}

In [79]:
assignments["Start Date"] = pd.to_datetime(assignments["Start Date"])
assignments["Due Date"] = pd.to_datetime(assignments["Due Date"])
assignments.drop(["Deadline Time"], axis=1, inplace=True)
assignments = assignments.sort_values(by=["Due Date"], na_position="last")

In [80]:
assignments.head()

,Module Code,Semester,Assignment Name,Weightage,Assignment Type,Group or Individual,Start Date,Due Date,Level,Major
4,DSA2101,2020,Quiz 1,5.0,Quiz,I,2021-01-12,2021-01-19,level_2k,DSA
5,DSA2101,2020,Assignment 1,2.5,Assignment,I,2021-01-19,2021-01-26,level_2k,DSA
6,DSA2101,2020,Assignment 2,2.5,Assignment,I,2021-02-09,2021-02-16,level_2k,DSA
9,DSA2101,2020,Take-Home Midterms,30.0,Assignment,I,2021-03-02,2021-03-06,level_2k,DSA
7,DSA2101,2020,Assignment 3,2.5,Assignment,I,NaT,2021-03-23,level_2k,DSA

In [91]:
#by_date = assignments.groupby("Due Date").agg(max)
#by_date

In [82]:
#by_date = by_date.reset_index()
#by_date

# Individual Stress Score Per Assignment

In [83]:
# without getting max from each date group
by_date = assignments
by_date

,Module Code,Semester,Assignment Name,Weightage,Assignment Type,Group or Individual,Start Date,Due Date,Level,Major
4,DSA2101,2020,Quiz 1,5.0,Quiz,I,2021-01-12,2021-01-19,level_2k,DSA
5,DSA2101,2020,Assignment 1,2.5,Assignment,I,2021-01-19,2021-01-26,level_2k,DSA
6,DSA2101,2020,Assignment 2,2.5,Assignment,I,2021-02-09,2021-02-16,level_2k,DSA
9,DSA2101,2020,Take-Home Midterms,30.0,Assignment,I,2021-03-02,2021-03-06,level_2k,DSA
7,DSA2101,2020,Assignment 3,2.5,Assignment,I,NaT,2021-03-23,level_2k,DSA
...,...,...,...,...,...,...,...,...,...,...
88,ST4253,2210,Participation,10.0,Participation,I,NaT,NaT,level_4k,ST
89,ST4253,2210,Tutorial Presentation,10.0,Presentation,I,NaT,NaT,level_4k,ST
102,ST4248,2220,Presentation,10.0,Presentation,G,NaT,NaT,level_4k,ST
104,ST3247,2220,Tutorial Attendance,10.0,Participation,I,NaT,NaT,level_3k,ST
108,ST3247,2220,Assignment 4,7.5,Assignment,I,NaT,NaT,level_3k,ST

### Assumptions

In [88]:
# [IGNORE]

# min_weightage = by_date["Weightage"].min()
# min weightage based on data is 2 but we assume that outside of the data, there exists graded components that are 0.5%,
# 0.5% would be the lowest weightage for any graded component

# max_weightage = by_date["Weightage"].max()
# max weightage is 70 based on the data
# we will assume that weightage for any graded components will not exceed 70% based on department's guidelines

#min_weightage = 0.5
#max_weightage = 70

# max_stress is assuming that this is the maximum possible stress for a student,so we use the highest weights for each factor
# same for min_stress, we use the lowest weights for each factor
#min_stress = min_weightage/100 * 0.1 * 3 + 0.3 * 2 + 0.1 * 1 + 0.4 * 1 + 0.15 * 3
#max_stress = max_weightage/100* 0.35 * 3 + 0.4 * 2 + 0.4 * 1 + 0.6 * 1 + 0.4 * 3

def normalized_score(score):
    return (score - min_stress)/(max_stress - min_stress)*10

In [89]:
def get_gap(due_date, start_date):
    if pd.isnull(start_date):
        return "Others"
    else:
        gap = (due_date - start_date).days
        if gap <= 7:
            return "One Week"
        elif gap <= 14:
            return "Two Weeks"
        else:
            return "More Than Two Weeks"

In [94]:
#changed to func

def stress_by_date(by_date):
    for i in range(0, len(by_date)):
        weightage = by_date.loc[i,"Weightage"]
        assignment_type = by_date.loc[i,"Assignment Type"]
        i_g = by_date.loc[i,"Group or Individual"]
        level = by_date.loc[i,"Level"]
        major = by_date.loc[i,"Major"]
        gap = get_gap(by_date.loc[i,"Due Date"], by_date.loc[i,"Start Date"])
        stress_score = weightage/100*weights['assignment_type'][assignment_type] * 3 + weights['i_or_g'][i_g] * 2 + weights['level'][level] * 1 + weights['major'][major] * 1 + weights['gap'][gap] * 3
        normalized_stress = normalized_score(stress_score)
        #stress.append(normalized_score)
        by_date.loc[i, "Stress"] = normalized_stress
    return by_date

In [95]:
by_date

,Module Code,Semester,Assignment Name,Weightage,Assignment Type,Group or Individual,Start Date,Due Date,Level,Major
4,DSA2101,2020,Quiz 1,5.0,Quiz,I,2021-01-12,2021-01-19,level_2k,DSA
5,DSA2101,2020,Assignment 1,2.5,Assignment,I,2021-01-19,2021-01-26,level_2k,DSA
6,DSA2101,2020,Assignment 2,2.5,Assignment,I,2021-02-09,2021-02-16,level_2k,DSA
9,DSA2101,2020,Take-Home Midterms,30.0,Assignment,I,2021-03-02,2021-03-06,level_2k,DSA
7,DSA2101,2020,Assignment 3,2.5,Assignment,I,NaT,2021-03-23,level_2k,DSA
...,...,...,...,...,...,...,...,...,...,...
88,ST4253,2210,Participation,10.0,Participation,I,NaT,NaT,level_4k,ST
89,ST4253,2210,Tutorial Presentation,10.0,Presentation,I,NaT,NaT,level_4k,ST
102,ST4248,2220,Presentation,10.0,Presentation,G,NaT,NaT,level_4k,ST
104,ST3247,2220,Tutorial Attendance,10.0,Participation,I,NaT,NaT,level_3k,ST
108,ST3247,2220,Assignment 4,7.5,Assignment,I,NaT,NaT,level_3k,ST

In [ ]:
# sum of stress scores on each day & list of module codes
agg_func = lambda x: list(set(x))
agg_func2 = lambda x: list(set(x)).reverse()
#by_date.groupby('Due Date').agg({'Semester': max, 'Stress': agg_func, 'Module Code': agg_func})

# Pairwise Stress Score Calculations for Clashes

## For the case of 2 clashes

In [ ]:
# view dates with multiple assignments
multiples = by_date.groupby('Due Date').filter(lambda x: len(x) > 1)
multiples

In [ ]:
# view dates with 2 assignments
duplicates = by_date.groupby('Due Date').filter(lambda x: len(x) == 2)
duplicates

In [ ]:
def reverse_list(lst):
    return lst[::-1]

df = duplicates.groupby('Due Date').agg({'Semester': max, 'Stress': agg_func, 'Module Code': agg_func})
df['Module Code'] = df['Module Code'].apply(reverse_list)
df[['Module 1', 'Module 2']] = pd.DataFrame(df['Module Code'].tolist(), index=df.index)
df.drop('Module Code', axis=1, inplace=True)
df = df.reset_index()
df

In [ ]:
df = df.merge(pair_counts, how='left', on=['Semester', 'Module 1', 'Module 2'])

In [ ]:
df = pd.merge(df, student_counts, left_on=['Semester', 'Module 1'], right_on=['sem', 'code'], how = 'left')

In [ ]:
df = pd.merge(df, student_counts, left_on=['Semester', 'Module 2'], right_on=['sem', 'code'], how = 'left')
df

In [ ]:
df.rename(columns={"n_x":"Module 1 Count", "n_y":"Module 2 Count", "Count":"Pair Count"}, inplace=True)
df.drop(["sem_x", "sem_y", "code_x", "code_y"], axis=1, inplace=True)
df

In [ ]:
min_pairwise = min_stress
max_pairwise = 1*(2*max_stress)+max_stress
# for max pairwise stress score, we assume that the proportion of students with clashes is 1 (everyone is affected by clash)
# and that the individual stress score for each module is the max individual stress score

#def normalized_score(pairwise_stress):
#    return (pairwise_stress - min_pairwise)/(max_pairwise - min_pairwise)*100

In [ ]:
# pairwise stress score
# pairwise_stress = (pair_count)/(student_count)*[sum of stress for both modules] + [stress for that module]

# example of the clash at index 4. since the interface only shows the modules that the prof are currently teaching,
# ST3248 prof will only be concerned about the stress level for his own students (ST3248), so the stress score that
# will show up on the interface should be calculated based on the proportion of his students (ST3248) that have clashes

# eg. for ST3248
# pairwise_stress = 25/128 * (2.91+3.12) + 2.91

# if pair counts or student counts are NaN,
# was going to assume the mean value of pair counts for the 2 corresponding modules based on past semesters,
# but seems like it's not possible because there's completely no past data on past pair counts, neither are there
# any data for the individual module count too.

# instead, we assume that the pair counts is the value of the avg pair counts, same for student counts.

# disclaimer
# with the above assumption, stress scores may be wrong for calculations for cases where one module is a
# prerequisite for another, eg. dsa1101 and dsa4211. this can be accounted for with more data

def get_pairwise_stress(data, date, module):
    index = data[data['Due Date'] == date].index.values[0]
    stress_list = data.loc[index,"Stress"]
    if (data.loc[index, 'Module 1'] == module):
        if (math.isnan(data.loc[index, 'Module 1 Count']) | math.isnan(data.loc[index, 'Pair Count'])):
            pairwise_stress = data['Pair Count'].mean()/data['Module 1 Count'].mean()*sum(stress_list)+stress_list[0]
        else:
            pairwise_stress = data.loc[index, 'Pair Count']/data.loc[index, 'Module 1 Count']*sum(stress_list)+stress_list[0]
    else:
        if (math.isnan(data.loc[index, 'Module 2 Count']) | math.isnan(data.loc[index, 'Pair Count'])):
            pairwise_stress = data['Pair Count'].mean()/data['Module 2 Count'].mean()*sum(stress_list)+stress_list[1]
        else:
            pairwise_stress = data.loc[index, 'Pair Count']/data.loc[index, 'Module 2 Count']*sum(stress_list)+stress_list[1]
    return pairwise_stress

In [97]:
#Created function for pairwise stress table

def pairwise_stress(df):
    for i in range(0, len(df)):
        date = df.loc[i,"Due Date"]
        module1 = df.loc[i,"Module 1"]
        module2 = df.loc[i,"Module 2"]
        df.loc[i, "Module 1 Pair Stress"] = get_pairwise_stress(df, date, module1)
        df.loc[i, "Module 2 Pair Stress"] = get_pairwise_stress(df, date, module2)
    return df

In [96]:
df

NameError: name 'df' is not defined

Some example clashes when thinking of thresholds later:

Observation 2:
- ST4231, 20% Exam, 25/93=0.27 affected by clash (stress = 29)
- DSA4211, 20% Exam, 25/146=0.17 affected by clash (stress = 25)

Observation 7:
- ST3247, 7.5% Assignment, 22/114=0.19 affected by clash (stress = 23)
- ST4248, 10% Project, 22/62=0.35 affected by clash (stress = 13)

Observation 0:
- DSA2102, 4% Assignment (stress = 7)
- DSA2101, 2% Assignment (stress = 5)

In [ ]:
# when linking to front-end,
# given a date, extract either 'Module 1 Pair Stress' or 'Module 2 Pair Stress', depending on whether the user's module
# falls under Module 1 or Module 2.

## For the case of >2 clashes

In [ ]:
duplicates2 = by_date.groupby('Due Date').filter(lambda x: len(x) > 2)
duplicates2

In [ ]:
dates = list(duplicates2['Due Date'].unique())
assignments = list(duplicates2.index)
assignment_combinations = list(combinations(assignments, 2))

data = []
for date in dates:
    for comb in assignment_combinations:
        assignment1 = comb[0]
        assignment2 = comb[1]
        scores = duplicates2.loc[duplicates2.index.isin([assignment1, assignment2]),'Stress'].tolist()
        modules = duplicates2.loc[duplicates2.index.isin([assignment1, assignment2]),'Module Code'].tolist()
        semester = duplicates2.loc[assignment1, "Semester"].tolist()
        data.append({'Due Date': date, 'Semester': semester, 'Module Code': modules, 'Assignment Index': [assignment1, assignment2], 'Stress': scores})

df2 = pd.DataFrame(data)
df2

In [ ]:
df2[['Module 1', 'Module 2']] = pd.DataFrame(df2['Module Code'].tolist(), index=df2.index)
df2.drop('Module Code', axis=1, inplace=True)
df2 = df2.reset_index()
df2

In [ ]:
df2 = df2.merge(pair_counts, how='left', on=['Semester', 'Module 1', 'Module 2'])

In [ ]:
df2 = pd.merge(df2, student_counts, left_on=['Semester', 'Module 1'], right_on=['sem', 'code'], how = 'left')

In [ ]:
df2 = pd.merge(df2, student_counts, left_on=['Semester', 'Module 2'], right_on=['sem', 'code'], how = 'left')
df2

In [ ]:
df2.rename(columns={"n_x":"Module 1 Count", "n_y":"Module 2 Count", "Count":"Pair Count"}, inplace=True)
df2.drop(["sem_x", "sem_y", "code_x", "code_y"], axis=1, inplace=True)
df2

In [100]:
def pairwise_stress_over_dates(df2):
    for i in range(0, len(df2)):
        date = df2.loc[i,"Due Date"]
        module1 = df2.loc[i,"Module 1"]
        module2 = df2.loc[i,"Module 2"]
        df2.loc[i, "Module 1 Pair Stress"] = get_pairwise_stress(df2, date, module1)
        df2.loc[i, "Module 2 Pair Stress"] = get_pairwise_stress(df2, date, module2)
    return df2

In [99]:
df

NameError: name 'df' is not defined

## Combining the above 2 (For >= 2 clashes)

In [ ]:
duplicates3 = by_date.groupby('Due Date').filter(lambda x: len(x) >= 2)
duplicates3

In [ ]:
dates = list(duplicates3['Due Date'].unique())
#assignments = list(duplicates3.index)
#assignment_combinations = list(combinations(assignments, 2))

data = []
for date in dates:
    assignments = list(duplicates3[duplicates3['Due Date'] ==date].index)
    assignment_combinations = list(combinations(assignments, 2))
    for comb in assignment_combinations:
        assignment1 = comb[0]
        assignment2 = comb[1]
        scores = duplicates3.loc[duplicates3.index.isin([assignment1, assignment2]),'Stress'].tolist()
        modules = duplicates3.loc[duplicates3.index.isin([assignment1, assignment2]),'Module Code'].tolist()
        semester = duplicates3.loc[assignment1, "Semester"].tolist()
        data.append({'Due Date': date, 'Semester': semester, 'Module Code': modules, 'Assignment Index': [assignment1, assignment2], 'Stress': scores})

df3 = pd.DataFrame(data)
df3

In [ ]:
df3[['Module 1', 'Module 2']] = pd.DataFrame(df3['Module Code'].tolist(), index=df3.index)
df3.drop('Module Code', axis=1, inplace=True)
df3

In [ ]:
df3 = df3.merge(pair_counts, how='left', on=['Semester', 'Module 1', 'Module 2'])

In [ ]:
df3 = pd.merge(df3, student_counts, left_on=['Semester', 'Module 1'], right_on=['sem', 'code'], how = 'left')

In [ ]:
df3 = pd.merge(df3, student_counts, left_on=['Semester', 'Module 2'], right_on=['sem', 'code'], how = 'left')
df3

In [ ]:
df3.rename(columns={"n_x":"Module 1 Count", "n_y":"Module 2 Count", "Count":"Pair Count"}, inplace=True)
df3.drop(["sem_x", "sem_y", "code_x", "code_y"], axis=1, inplace=True)
df3

In [ ]:
for i in range(0, len(df3)):
    date = df3.loc[i,"Due Date"]
    module1 = df3.loc[i,"Module 1"]
    module2 = df3.loc[i,"Module 2"]
    df3.loc[i, "Module 1 Pair Stress"] = get_pairwise_stress(df3, date, module1)
    df3.loc[i, "Module 2 Pair Stress"] = get_pairwise_stress(df3, date, module2)

In [ ]:
df3

# K-Means (not very helpful)

In [ ]:
by_date['Gap'] = by_date.apply(lambda x: get_gap(x["Due Date"], x["Start Date"]), axis = 1)
by_date = by_date.drop(['Start Date', 'Due Date'], axis=1)
by_date

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Load the data
data = by_date

# Preprocess the data using one hot encoding
categorical_cols = ['Assignment Type', 'Group or Individual', 'Level', 'Major', 'Gap']
for col in categorical_cols:
    one_hot = pd.get_dummies(data[col], prefix=col)
    data = data.drop(col, axis=1)
    data = pd.concat([data, one_hot], axis=1)

data = data.drop(['Semester', 'Weightage', 'Stress'], axis=1)
data

X = data.iloc[:, 2:]
X

In [ ]:
# Determine the optimal number of clusters using the elbow method
wcss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state=42)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 11), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of Clusters')
plt.ylabel('WCSS')
plt.show()

# WCSS keeps decreasing with increasing k

In [ ]:
# Initialize the KMeans model with k number of clusters
kmeans = KMeans(n_clusters=6, init='k-means++', random_state=42)

# Fit the model to the data
kmeans.fit(X)

# Get the cluster labels
labels = kmeans.labels_

# Add the labels to the original data
data['cluster'] = labels

# Visualize the clusters
plt.scatter(by_date['Assignment Type'], by_date['Gap'], c=labels)
plt.xlabel('Assignment Type')
plt.ylabel('Gap')
plt.show()